
<!--app-ngswitch></app-ngswitch>
<app-diretiva-ngfor></app-diretiva-ngfor>
<app-diretiva-ngif></app-diretiva-ngif>
<app-diretiva-ngclass></app-diretiva-ngclass>
<app-diretiva-ngstyle></app-diretiva-ngstyle>
<app-operador-elvis></app-operador-elvis>
<app-exemplo-ng-content>
    Conteudo passado para o componente
</app-exemplo-ng-content>

<app-exemplo-ng-content>
    <div class="titulo">
        Título do painel
    </div>
    <div class="corpo">
        Conteudo passado para o componente
    </div>
</app-exemplo-ng-content-->

<app-diretivas-customizadas></app-diretivas-customizadas>
